@import url(https://db.onlinewebfonts.com/c/e552a73b2627d8afebb6bc486014dd9b?family=Adlery+Pro+Swash);

.text-bio {
  color: #d4af37;
  font-size: 20px;
  /* font-family: "Adlery Pro Swash", sans-serif; */
  text-align: start;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.list {
  transition: color 0.3s;
  color: #d4af37;
}

.list:hover {
  color: #ffe48d;
}
