.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  color: black;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
}

@media only screen and (min-width: 413px) {
  .mlogo {
    width: 100px;
    opacity: 70%;
    border-radius: 80%;
  }
}

@media only screen and (max-width: 412px) {
  .mlogo {
    width: 50px;
    opacity: 70%;
    border-radius: 80%;
  }
}
