.carousel-indicators {
  top: 190px;
  margin-top: 10px;
}
.carousel {
  margin-top: 100px;
}

@media (min-width: 1400px) {
  .carousel-indicators {
    margin-top: 25px;
  }
}

@media only screen and (min-width: 513px) {
  .ne-container {
    margin-top: 10px;
    padding: 10px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
  }
}
