html {
  scroll-behavior: smooth;
}

.sec-box {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.margin-bottom {
  margin-bottom: 80px;
}

.social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.spacer {
  height: 300px;
  width: 100%;
  background-color: #ffffff;
}

.minspacer {
  height: 50px;
  width: 100%;
  background-color: #ffffff;
}
