body {
  background-color: rgb(66, 66, 66);
  border: solid 1px gold;
  border-radius: 50px;
  background-color: black;
  background-size: 100% 100%; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

html {
  scroll-behavior: smooth;
}

.sec-title {
  color: gold;
  margin: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.sec-box {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.322);
  border: solid 1px gold;
  border-radius: 30px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.spacer {
  height: 300px;
  width: 100%;
  background-color: black;
  border: 3px solid gold;
}

.minspacer {
  margin: 10px;
  height: 50px;
  width: 100%;
  /* background-image: url(../../assets/img/bagsp.jpg);
  border: 1px solid gold;
  border-radius: 30px; */
}
