body {
  background-color: rgb(66, 66, 66);
  border: solid 1px gold;
  border-radius: 20px;
  background-color: black;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
}

/* .container{
  --bs-gutter-x: 1rem,
} */

html {
  scroll-behavior: smooth;
}

.sec-title {
  color: gold;
  margin: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.sec-box {
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.322);
  border: solid 1px gold;
  border-radius: 30px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.spacer {
  height: 300px;
  width: 100%;
  background-color: black;
  border: 3px solid gold;
}

.minspacer {
  margin: 10px;
  height: 50px;
  width: 100%;
}
