@font-face {
  font-family: 'Aldlery Swash';
  src: url('../../assets/fonts/adlery.woff2') format('woff2'),
       url('../../assets/fonts/adlery.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: rgb(66, 66, 66);
  border: solid 1px #D4AF37;
  border-radius: 20px;
  background-color: black;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 7px;
  margin-left: 7px;
  margin-right: 7px;
  margin-bottom: 7px;
}

/* .container{
  --bs-gutter-x: 1rem,
} */

html {
  scroll-behavior: smooth;
}

.sec-title {
  color: #D4AF37;
  margin: 5px;
  text-align: center;
  align-content: center;
  align-items: center;
}

.sec-box {
  text-align: center;
  /* align-content: center; */ /*ESTA LINEA FUE COMENTADA YA QUE ROMPE CON LAS IMAGENES DEL CARRUSEL DE FOTOS*/
  align-items: center;
  justify-content: center;
  background-color: rgba(128, 128, 128, 0.322);
  border-radius: 30px;
}

.margin-bottom {
  margin-bottom: 80px;
}

.social-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}

.spacer {
  height: 300px;
  width: 100%;
  background-color: black;
  border: 3px solid #D4AF37;
}

.minspacer {
  margin: 10px;
  height: 50px;
  width: 100%;
}
