.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, color 0.2s;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
}

.whatsapp-button:hover {
  color: #128c7e;
  transform: scale(1.1);
}

.whatsapp-button .icon {
  font-size: 24px;
}

@media (min-width: 768px) {
  .whatsapp-button {
    width: 55px;
    height: 55px;
  }

  .whatsapp-button .icon {
    font-size: 40px;
  }
}
