.form-control-custom, .btn-custom {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
  text-align: center;
  width: 75%;
  
}

button.btn-custom {
  margin-top: 10px;
  border-radius: 20px;
  width: 20%; 
  align-self: center; 
}


textarea.form-control-custom {
  resize: none;
  width: 75%;
  

}

.img-fluid {
  border-radius: 20px;
}


.form-control-custom::placeholder {
  color: rgba(255, 255, 255, 0.7);
}



@media (max-width: 768px) {
  .image-container {
    display: none;
  }

  .form-control-custom, .btn-custom {
    background-color: #000;
    color: #fff;
    border-radius: 10px; /* Adding border-radius */
    text-align: center;
    width: 100%;
    
  }
   
  textarea.form-control-custom {
    resize: none;
    width: 100%;
     
  }
  
  .img-fluid {
    border-radius: 20px;
  }
   
  button.btn-custom {
    width: 25%; 
  }


}


.form-control-custom:focus, .btn-custom:focus, 
.form-control-custom:active, .btn-custom:active, 
.form-control-custom:hover, .btn-custom:hover {
  background-color: #000;
  color: #fff; 
  border: none; 
  box-shadow: none; 
  outline: none; 
}
.form-control-custom::placeholder {
  color: rgba(255, 255, 255, 0.7);
}