img.logo {
  max-width: 100px;
  margin-left: 30px;
  border-radius: 60%;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-close {
  background: none;
  border: none;
  display: none;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: font-size 0.3s, color 0.3s;
}

.navbar-close:hover {
  font-size: 36px;
  color: red;
}

.header-text {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar-collapse.custom-navbar-collapse {
    position: fixed;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: white;
    border-radius: 0;
    overflow: auto;
    transition: all 0.3s ease;
    z-index: 1050;
    padding-top: 60px;
  }

  .navbar-close {
    display: block;
  }

  .navbar-collapse.custom-navbar-collapse.collapsing {
    height: auto !important;
  }

  .nav-link {
    margin-top: 20px;
    margin-top: 20px;
    text-align: right;
  }

  .nav-link span {
    font-size: 16px !important;
    font-weight: normal !important;
  }
}

@media (max-width: 575px) {
  img.logo {
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .large-screen {
    font-size: 24px;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  img.logo {
    max-width: 150px;
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  img.logo {
    max-width: 200px;
    margin-left: 50px;
  }
}

.navbar-nav .nav-link:hover {
  font-size: 20px !important;
}
