.navbar-bg {
  background-image: url("../../assets/img/blackandgold.webp"); /* Ruta a tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.navbar-brand {
  color: #D4AF37 !important; /* Cambia el color del texto de la marca del NavBar */
}

.nav-link-text {
  color: #D4AF37 !important; /* Cambia el color de los links del NavBar */
}

.nav-link-text:hover {
  color: #D4AF37 !important; /* Cambia el color de los links del NavBar */
}

.navbar-toggler {
  background-color: rgba(128, 128, 128, 0.377);
  margin-right: 20px;
}
.navbar-toggler:hover {
  border: solid 1px #D4AF37;
}

.navbar-close {
  background: none;
  border: none;
  display: none;
  font-size: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: font-size 0.3s, color 0.3s;
}

.navbar-close:hover {
  font-size: 36px;
  color: #D4AF37;
}

.header-text {
  font-size: 32px;
  font-weight: bold;
}

@media (max-width: 991px) {
  .navbar-collapse.custom-navbar-collapse {
    position: relative;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    background-color: rgba(128, 128, 128, 0.548);
    border-radius: 20px;
    overflow: auto;
    transition: all 0.3s ease;
    z-index: 1050;
    padding-top: 60px;
  }

  .navbar-close {
    display: block;
  }

  .navbar-collapse.custom-navbar-collapse.collapsing {
    height: auto !important;
  }

  .nav-link {
    margin-top: 20px;
    margin-top: 20px;
    text-align: right;
  }

  .nav-link span {
    font-size: 16px !important;
    font-weight: normal !important;
  }
}

@media (max-width: 575px) {
  img.logo {
    width: 250px;
    margin-top: 25px;
  }
}

@media (min-width: 992px) {
  .large-screen {
    font-size: 24px;
    font-weight: bold;
  }
}

@media (min-width: 576px) {
  img.logo {
    max-width: 250px;
    margin-left: 50px;
  }
}

@media (min-width: 768px) {
  img.logo {
    max-width: 300px;
    margin-left: 50px;
  }
}

.navbar-nav .nav-link:hover {
  font-size: 20px !important;
}
