img.logo {
  max-width: 100px;
  margin-left: 30px;
  border-radius: 60%;
}

.navbar-toggler {
  margin-right: 20px;
}

.navbar-close {
  background: none;
  border: none;
  
}
@media (max-width: 991px) {
  .navbar-collapse.custom-navbar-collapse {
    position: fixed;
    top: 50px;
    right: 20px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
    transition: all 0.3s ease;
  }

  .navbar-collapse.custom-navbar-collapse.collapsing {
    height: auto !important;
  }
}

@media (max-width: 575px) {
  img.logo {
    margin-top: 25px;
  }
}

@media (min-width: 576px) {
  img.logo {
    max-width: 150px;
    margin-left: 50px;
    
  }
}

@media (min-width: 768px) {
  img.logo {
    max-width: 200px;
    margin-left: 50px;
  }
}