.Carrusel {
    background-color: rgba(255, 255, 255, 0.94); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    margin: 20px auto; 
    max-width: 90%; 
    overflow: hidden; 
  }
  
  .glassT {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 10px; 
    padding: 10px; 
    
  } 
  
  .carrusel-image-wrapper {
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 0 15px;
  }
  
  .carrusel-image {
    width: 200px; 
    height: 200px; 
    object-fit: cover; 
  }