.social-container {
  width: fit-content;
  padding: 20px;
  /* border: 1px solid black; */
  background-color: rgba(0, 0, 0, 0.781);
  border-radius: 20px;
}

a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.social:hover {
  transform: translateY(-2px);
}

a.whatsapp {
  color: #D4AF37;
}

a.gmail {
  color: #D4AF37;
}

a.youtube {
  color: #D4AF37;
}

a.instagram {
  color: #D4AF37;
}

a.facebook {
  color: #D4AF37;
}

a.tiktok {
  color: #D4AF37;
}

a.linkedin {
  color: #D4AF37;
}
