@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.section-box {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0.158);
}

.slider-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  height: 500px;
  color: white;
  z-index: 1;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 512px) {
  .slider-box {
    height: 350px;
  }
  .slider-container {
    width: 100%;
    width: 400px;
    height: 330px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
  }

  .subtitle-box {
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 850px;
    right: 75px;
  }

  .subtitlestyle {
    font-size: 19px;
    color: rgba(218, 165, 32, 0.493);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
  }
}
@media only screen and (min-width: 513px) {
  .slider-container {
    width: 100%;
    width: 450px;
    height: 450px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
  }
  .subtitle-box {
    text-align: center;
    z-index: 3;
    position: absolute;
    top: 590px;
    right: 150px;
  }
  .subtitlestyle {
    font-size: 30px;
    color: rgba(218, 165, 32, 0.493);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: gold;
  }
}
.slider-card {
  min-width: 5px;
  height: auto;
  border-radius: 30px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: flex-grow 2s cubic-bezier(0.16, 1, 0.3, 1);

  --transition-timing: 2s;
}
/* .card.active {
  flex-grow: 100;
} */
.slider-card:hover {
  flex-grow: 10;
}

.slider-card > .slider-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
  z-index: 1;
  transition: var(--transition-timing) ease;
}

.slider-card:hover > .slider-background {
  z-index: 2;
  filter: brightness(1.2);
}
