@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

.slider-box {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
  height: 500px;
  color: white;
  background-color: #3750c06c;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
}

.slider-img {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 412px) {
  .slider-box {
    height: 350px;
  }
  .slider-container {
    width: 100%;
    width: 400px;
    height: 330px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
  }
}
@media only screen and (min-width: 413px) {
  .slider-container {
    width: 100%;
    width: 450px;
    height: 450px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
  }
}
.slider-card {
  min-width: 5px;
  height: auto;
  border-radius: 30px;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  transition: flex-grow 2s cubic-bezier(0.16, 1, 0.3, 1);

  --transition-timing: 2s;
}
/* .card.active {
  flex-grow: 100;
} */
.slider-card:hover {
  flex-grow: 10;
}

.slider-card > .slider-background {
  position: absolute;
  inset: 0;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.4);
  z-index: 1;
  transition: var(--transition-timing) ease;
}

.slider-card:hover > .slider-background {
  z-index: 2;
  filter: brightness(1);
}
