.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.form-control-custom, .btn-custom {
  background-color: #000;
  color: #fff;
  border-radius: 10px; 
  text-align: center;
  width: 65%;
}


textarea.form-control-custom {
  resize: none; 
  width: 65%;

}

.img-fluid {
  border-radius: 20px; 
}


button.btn-custom {
  width: 50%; 
}




.Carrusel {
  margin-top: 50px;
  text-align: center;
}

.carrusel-title {
  margin-bottom: 50px;
}

.carrusel-image-wrapper {
  margin: 0px 30px;
}

.carrusel-image-wrapper img {
  width: 100px;
  height: 100px; 
  object-fit: contain; 
}


@media (max-width: 768px) {
  .image-container {
    display: none;
  }
}

button.btn-custom {
  margin-top: 10px;
  border-radius: 15px;
  width: 30%;
  align-self: center; 
}

/* Placeholder color */
.form-control-custom::placeholder {
  color: rgba(255, 255, 255, 0.7); 
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}